.card 
    width: 260/1140*100%
    text-align: center
    &__title 
        margin: 0 auto 14px auto
        padding: 20px 0
        font-size: 16px
        font-weight: 700
        color: rgb(255, 255, 255)
        text-transform: uppercase
        background-color: #25333c
    &__icon 
        margin-bottom: 14px
    &__delivery 
        font-size: 14px
        color: #2e2e2e
    &__price
        font-size: 28px 
        color: #ec644b
        margin-bottom: 15px
    &__descr      
        font-size: 14px
        color: rgb(46, 46, 46)
        line-height: 1.429
        text-align: center
        margin-bottom: 24px



    
        
  
