.consultation
    position: relative
    padding-bottom: 58px

    &__title
        font-size: 28px
        color: rgb(58, 58, 58)
        line-height: 0.821
        text-align: center
        width: 483px
        margin: 0 auto 64px auto
        margin-bottom: 64px
    
    &__icon 
        position: absolute
        left: 50%
        top: 0%
        transform: translate(-50%, -50%)
        padding: 0 10px
        background-color: #ffffff
        z-index: 5
        

        img 
            padding: 15px 20px
            border: 1px solid #ec644b
            border-radius: 50%
            
        

    &__form
        position: relative
        border: 1px solid #eaeaea


    &__wrapper 
        display: flex
        justify-content: space-between
        align-items: center
        padding: 68px 162px 56px 162px

        input 
            font-size: 13px
            font-family: "Roboto"
            color: rgba(16, 16, 16, 0.702)
            line-height: 1.846
            text-align: left
            width: 274px
            height: 51px
            padding-left: 28px
            border: 1 px solid #fff
            border-radius: 25px 25px

    &__button
        position: absolute
        top: 100%
        left: 50%
        transform: translate(-50%, -50%)
            
  

    
