.managers 
    background: url(../img/bg/managers.jpg) center center/cover no-repeat
    padding: 58px 0 73px

    @media screen and (max-width: 768px)
        padding: 35px 0 45px

    @media screen and ( max-width: 480px )
        padding: 25px 0

    &__icon 
        margin: 0 auto 19px auto
        width: 100px
        height: 100px
        display: flex
        justify-content: center
        align-items: center
        border-width: 1px
        border-color: rgb(255, 255, 255)
        border-style: solid
        border-radius: 50%

        @media screen and (max-width: 980px)
            width: 90px
            height: 90px

        @media screen and (max-width: 768px)
            width: 85px
            height: 85px

        @media screen and (max-width: 576px)
            width: 75px
            height: 75px

        @media screen and (max-width: 480px) 
            width: 55px
            height: 55px

        img 
            display: block
            margin: 0 auto

            @media screen and (max-width: 980px) 
                transform: scale(0.8)

            @media screen and (max-width: 480px) 
                transform: scale(0.5)

    &__title
        margin: 0 auto 
        text-align: center 
        margin-bottom: 19px
        font-size: 26px
        color: rgb(255, 255, 255)
        font-weight: bold
        line-height: 0.885
        letter-spacing: 0.1em

        @media screen and (max-width: 980px)
            font-size: 22px

        @media screen and (max-width: 768px)
            font-size: 20px

        @media screen and ( max-width: 480px )
            font-size: 16px

    &__descr 
        margin: 0 auto  
        font-size: 19px
        font-weight: 300
        color: #ebebeb
        line-height: 1.421
        text-align: center
        width: 1000/1140*100%

        @media screen and (max-width: 980px)
            font-size: 15px

        @media screen and (max-width: 768px)
            font-size: 12px

        @media screen and ( max-width: 480px )
            font-size: 10px
