.scheme 
    padding: 50px 0 45px
    background-color: #f3f3f3

    .subtitle 
        margin-bottom: 20px

    &__list 
        display: flex
        flex-wrap: wrap
        justify-content: center

    &__item 
        width: 23.5%
        margin-right: 22px
        margin-bottom: 26px
        &:nth-child(4),&:last-child 
            margin-right: 0

    &__icon 
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 10px
        height: 60px
        
        img
            color: #3a3a3a

    &__subtitle 
        text-align: center
        font-size: 16px
        font-weight: bold
        color: #ec644b
        margin-bottom: 10px

    &__descr 
        text-align: center
        color: #3a3a3a
        font-size: 14px
        font-weight: 300
        letter-spacing: 0.01em

        