doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Global Opt")
        meta(name="author" content="Melnikov Sergey")
        title Global Opt
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        //- link(rel="stylesheet", href="css/icon.css")
        link(rel="stylesheet" href="css/style.css")
    body
        section.promo
            .container
                .header
                    .logo
                    nav
                        ul.promo__menu
                            li.promo__item
                                a.promo_link(href="#") Преимущества
                            li.promo__item
                                a.promo_link(href="#") Наша работа
                            li.promo__item
                                a.promo_link(href="#") Цены
                            li.promo__item
                                a.promo_link(href="#") Схема работы
                            li.promo__item
                                a.promo_link(href="#") Отзывы
                            li.promo__item
                                a.promo_link(href="#") Контакты
                    .promo__questions
                        .promo__text Есть вопросы?
                        a.promo__phone(href="tel:+79264230100") +7 (926) 423 01 00
                    button.button Перезвоните мне
                .promo__wrapper 
                    h2.promo__subtitle Global Opt - логистика полного цикла из Китая в Россию
                    h1.promo__title ДОСТАВКА ГРУЗОВ ИЗ КИТАЯ
                    .promo__text В РОССИЮ И СНГ ВСЕМИ ВИДАМИ ТРАНСПОРТА
                    .line
                    .promo__icons 
                        .promo__icon
                            img(src="icon/promo/icon_1.png", alt="")
                            .promo__descr Перевозка негабаритных и крупнотоннажных грузов
                        .promo__icon
                            img(src="icon/promo/icon_2.png", alt="")
                            .promo__descr Самостоятельно декларируем и проводим таможенную очистку с оптимизацией кодов и ставок
                        .promo__icon
                            img(src="icon/promo/icon_3.png", alt="")
                            .promo__descr Осуществляем прямые поставки с заводов от двери до двери
                        .promo__icon
                            img(src="icon/promo/icon_4.png", alt="")
                            .promo__descr Экспресс доставка 1-2 дня из Гуанчжоу в Москву от 25$/кг  
                    button.button Получить расчет
                
        script(src='js/script.js')
